<main class="max-container w-full h-screen flex flex-col gap-4 justify-center items-center">
    <section class="flex flex-col justify-center items-center mt-16">
        <!--last round winner-->
        <article *ngIf="currentRound > 2"  class="w-full p-4 text-lg font-semibold">
            <div>
                የዙር <span>{{currentRound - 1}}</span> ዕጣ የወጣላቸው አባላ መለያ ስም | Username :
                <span>{{lastRoundWinner?.username}}</span>
            </div>
        </article>

         <!--general information section-->
        <section class="w-full flex flex-col justify-center items-center">
            <div  class="text-xl font-semibold">
                <p>General Information</p>
            </div>
            <section class="flex flex-wrap justify-center items-center md:gap-10 gap-2">
                <div class="p-5 shadow-lg font-semibold rounded-lg">
                    <p>የአባላት ብዛት: {{ekub?.totalMember}}</p>
                </div>
                <div class="p-5 shadow-lg font-semibold rounded-lg">
                    <p>ዕጣ የወጣላቸው የአባላት ብዛት: {{ekubWinnersList.length}}</p>
                </div>
                <div class="p-5 shadow-lg font-semibold rounded-lg">
                    <p>ዕጣ ያልወጣላቸው የአባላት ብዛት: {{drawParticipantsList.length}}</p>
                </div>
                <div class="p-5 shadow-lg font-semibold rounded-lg">
                    <p>የተጀመረበት ቀን: {{transformDateTime(ekub?.startDateTime)}}</p>
                </div>
            </section>
        </section>
        <!--member list section with won status-->
        <section class="w-full flex flex-col justify-center items-center">
            <div class="p-2 text-xl font-semibold">
                <p class="underline">Members List</p>
            </div>
            <section class="w-full p-5">
                <section class="w-full flex justify-center max-h-96 overflow-auto">
                    <table class="w-full md:w-1/2 border border-gray-300 bg-white">
                        <thead class="bg-gray-200">
                            <tr>
                                <th class="table-head">Name</th>
                                <th class="table-head">Has Won</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let member of ekubUsersList">
                                <td class="table-data">{{member.fullName}}</td>
                                <td class="table-data">
                                    <span *ngIf="hasWon(member.id)">✔</span>
                                    <span *ngIf="!hasWon(member.id)">✘</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
        <!--User Round Payments section-->
        <section *ngIf="userRoundPayments.length !== 0" 
                class="w-full flex flex-col items-center justify-center">
            <div class="p-2 text-xl font-semibold">
                <p class="underline">User Round Payments</p>
            </div>
            <section class="w-full flex flex-col items-center justify-center overflow-auto">
                <table class="w-full md:w-1/2 border border-gray-300 bg-white">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="table-head">Username</th>
                            @for (round of userRoundPaymentHeader; track $index) {
                                <th class="table-head">{{round}}</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let payments of userRoundPayments">
                            <td class="table-data">{{payments.row?.['name']}}</td>
                            <td *ngFor="let round of userRoundPaymentHeader" class="table-data">
                                {{ payments.row?.[round] || '-' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-pagination *ngIf="!isEmptyPage" class="w-full my-5 z-10"
                    [page]="page"
                    [size]="size"
                    [isFirstPage]="isFirstPage"
                    [isLastPage]="isLastPage"
                    [numberOfElements]="numberOfElements"
                    [totalElements]="totalElements"
                    [totalPages]="totalPages"
                    
                    (sizeChanged)="onSizeChanged($event)"
                    (pageChanged)="onPageChanged($event)"
                >
                </app-pagination>    
            </section>
        </section>
        <!--each rounds winner-->
        <section *ngIf="rounds.length !== 0" 
                class="w-full flex flex-col justify-center items-center">
            <div class="p-2 text-xl font-semibold">
                <p class="underline">Round Winners List</p>
            </div>
            <section class="w-full p-5">
                <section class="w-full flex justify-center overflow-auto">
                    <table class="w-full md:w-1/2 border border-gray-300 bg-white">
                        <thead class="bg-gray-200">
                            <tr>
                                <th class="table-head">Round</th>
                                @for (round of rounds; track $index) {
                                    <th class="table-head">Round {{$index + 1}}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let round of rounds">
                                <td class="table-data">Winner</td>
                                <td class="table-data">{{round.winner?.username}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
        
        <!--Description-->
        <section class="w-full flex flex-col justify-center items-center">
            <div class="p-4 text-xl font-semibold">
                <p class="underline">Description</p>
            </div>
            <section class="w-full p-5">
                <div class="border-2 rounded-md p-4 max-h-96 overflow-y-auto">
                    {{ekub?.description}}
                </div>
            </section>
        </section>
    </section>
</main>
