<main class="max-container w-full h-full flex flex-col justify-center items-center">
    <app-header *ngIf='onMobileView' class="w-full sticky top-0 z-10"  
        [onSubPage]="true"
        pageName="Payment"
        [onMobileView]="onMobileView">
    </app-header>
    
    <!--Main section-->
    <section *ngIf="pendingPayments.length > 0"
        class="w-full flex flex-col justify-center items-center"
        [ngClass]="{'mt-16': onMobileView}">
        <table class="w-full border border-gray-300 bg-white">
            <thead class="bg-gray-200 sticky top-[66px]">
                <tr>
                    <th class="table-head">የዕቁብ ስም</th>
                    <th class="table-head">Version</th>
                    <th class="table-head">ዙር</th>
                    <th class="table-head">የብር መጠን</th>
                    <th class="table-head">የቅጣት መጠን</th>
                    <th class="table-head">የቀረው ቀን እና ሰዓት</th>
                    <th class="table-head">የሚያበቃበት ቀን እና ሰዓት</th>
                    <th class="table-head"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pendingPayment of pendingPayments">
                    <td class="table-data">{{pendingPayment.equbName}}</td>
                    <td class="table-data">{{pendingPayment.version}}</td>
                    <td class="table-data">{{pendingPayment.roundNumber}}</td>
                    <td class="table-data">{{pendingPayment.amount | number}}</td>
                    <td class="table-data">{{pendingPayment.penalty | number }}</td>
                    <td class="table-data">{{transfromDuration(pendingPayment.endDateTime)}}</td>
                    <td class="table-data">{{transformDateTime(pendingPayment.endDateTime)}}</td>
                    <td class="table-data">
                        <button class="bg-grn text-white px-4 py-2 rounded-lg hover:bg-green-700"
                            (click)="onPayment(pendingPayment)">
                            Pay
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>


