<main class="absolute max-container z-10 flex justify-between items-center py-4 w-full">
    <!-- side bar toggler -->
    <div *ngIf="onMobileView && !onSubPage">
        <svg class="drawer cursor-pointer mx-4 my-5"
            (click)="openDrawer()"
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 14 14"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M13.5 2H.5m13 5H.5m13 5H.5"/>
        </svg>
    </div>
    <!--back button-->
    <div *ngIf="onSubPage && onMobileView" class="md:px-4">
        <svg (click)="back()" class="cursor-pointer" 
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M16 22L6 12L16 2l1.775 1.775L9.55 12l8.225 8.225z"/></svg>
    </div>
    <!--Page Name-->
    <div *ngIf="onSubPage && onMobileView">
        <p class="font-mono text-lg">{{pageName}}</p>
    </div>
    <!--on big screen-->
    <section *ngIf="!onMobileView"
        class="flex items-center w-3/4 gap-4">
        <!--logo-->
        <section class="w-1/6 flex justify-start items-center gap-2 px-2">
            <img class="w-8 h-8 cursor-pointer" src="world-icon.png"/>
            <p class="font-mono text-xl cursor-pointer">
                Alem EQub
            </p>
        </section>
        <app-drawer-item 
            component="Home"
            [isActiveComponent]="selectedItem === 'Home'"
            (click)="selectItem('Home')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6 19h3.692v-5.077q0-.343.233-.575q.232-.233.575-.233h3q.343 0 .576.233q.232.232.232.575V19H18v-8.692q0-.154-.067-.28t-.183-.22L12.366 5.75q-.154-.134-.366-.134t-.365.134L6.25 9.808q-.115.096-.183.22t-.067.28zm-1 0v-8.692q0-.384.172-.727t.474-.565l5.385-4.078q.423-.323.966-.323t.972.323l5.385 4.077q.303.222.474.566q.172.343.172.727V19q0 .402-.299.701T18 20h-3.884q-.344 0-.576-.232q-.232-.233-.232-.576v-5.076h-2.616v5.076q0 .344-.232.576T9.885 20H6q-.402 0-.701-.299T5 19m7-6.711"/></svg>
        </app-drawer-item>   
        <app-drawer-item 
            component="Profile"
            [isActiveComponent]="selectedItem === 'Personal-Info'"
            (click)="selectItem('Personal-Info')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 21.577L9.423 19H4V3h16v16h-5.423zm-7-4.342q1.35-1.325 3.138-2.088T12 14.384t3.863.763T19 17.235V4H5zm7-5.158q1.258 0 2.129-.871T15 9.077t-.871-2.129T12 6.077t-2.129.871T9 9.077t.871 2.129t2.129.871M5.885 18h12.23v-.173q-1.319-1.24-2.873-1.841T12 15.385q-1.65 0-3.213.591t-2.903 1.813zM12 11.077q-.817 0-1.409-.591Q10 9.894 10 9.077t.591-1.409q.592-.591 1.409-.591t1.409.591Q14 8.26 14 9.077t-.591 1.409t-1.409.591m0-.46"/></svg>
        </app-drawer-item> 
        <app-drawer-item 
            component="Change-PIN"
            [isActiveComponent]="selectedItem === 'Change-PIN'"
            (click)="selectItem('Change-PIN')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor"><path stroke-width="1.5" d="M2 16c0-2.828 0-4.243.879-5.121C3.757 10 5.172 10 8 10h8c2.828 0 4.243 0 5.121.879C22 11.757 22 13.172 22 16s0 4.243-.879 5.121C20.243 22 18.828 22 16 22H8c-2.828 0-4.243 0-5.121-.879C2 20.243 2 18.828 2 16Z"/><path stroke-linecap="round" stroke-width="1.5" d="M6 10V8a6 6 0 0 1 11.811-1.5"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16h.009m3.982 0H12m3.991 0H16"/></g></svg>
        </app-drawer-item>  
        <app-drawer-item 
            component="About"
            [isActiveComponent]="selectedItem === 'About'"
            (click)="selectItem('About')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="none" stroke="currentColor" d="M7 7h1v4.5m0 0H6.5m1.5 0h1.5M8 4.75h.005v.005H8zm.25 0a.25.25 0 1 1-.5 0a.25.25 0 0 1 .5 0ZM14.5 8a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0Z"/></svg>
        </app-drawer-item> 
        <app-drawer-item 
            component="Logout"
            (click)="logout()">
            <svg (click)="logout()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M28 16H8m12-8l8 8l-8 8m-9 4H3V4h8"/></svg>                  
        </app-drawer-item>   
    </section>
    <!--actions-->
    <div class="flex items-center px-4">
        <svg class="cursor-pointer" 
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4.654 19.346v-1H7.75l-1.054-1.042q-1.148-1.148-1.672-2.49q-.524-1.34-.524-2.724q0-2.41 1.374-4.361T9.5 4.942v1.062q-1.82.765-2.91 2.424t-1.09 3.66q0 1.222.464 2.37q.463 1.15 1.44 2.127l1.019 1.019v-3.027h1v4.77zm9.846-.288v-1.062q1.82-.765 2.91-2.424t1.09-3.66q0-1.222-.463-2.37q-.464-1.15-1.44-2.126l-1.02-1.02v3.027h-1v-4.77h4.77v1H16.25l1.054 1.043q1.148 1.148 1.672 2.49q.524 1.341.524 2.726q0 2.41-1.374 4.36T14.5 19.058"/></svg>
    </div>
</main>
