<main class="max-container w-full min-h-screen flex flex-col justify-center items-center gap-2 overflow-auto">
    <!-- cancel
    <div class="fixed top-10 right-10">
        <svg class="cursor-pointer" (click)="onCancel()"
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#888888" d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z"/></svg>
    </div> -->
    <article class="flex justify-center">
        <p class="text-2xl font-mono mt-4">Alem Equb Registration</p>
    </article>
    <section class="w-full md:w-2/3 lg:w-2/3 space-y-3">
        <div *ngIf="errMsgs" class="flex-col items-center">
            <p *ngFor="let msg of errMsgs" class="text-red-500">
                {{msg}}
            </p>
        </div>
        <div class="w-full grid grid-cols-12">
            <label class="form-label">Username<span class="text-red-400">*</span></label>
            <input [(ngModel)] ="userRequest.username"  class="form-input" type="text" placeholder="name"/>
        </div>
        <div class="w-full grid grid-cols-12">
            <label class="form-label">First Name<span class="text-red-400">*</span></label>
            <input [(ngModel)] ="userRequest.firstName"  class="form-input" type="text" step="0.01" placeholder="First Name"/>
        </div>
        <div class="w-full grid grid-cols-12">
            <label class="form-label">Last Name<span class="text-red-400">*</span></label>
            <input [(ngModel)] ="userRequest.lastName"  class="form-input" type="text" step="0.01" placeholder="Last Name"/>
        </div>
        <div class="w-full grid grid-cols-12">
            <label class="form-label">Phone Number<span class="text-red-400">*</span></label>
            <input [(ngModel)] ="userRequest.phoneNumber"  class="form-input" type="text" placeholder="09.. or 07.."/>
        </div>
        <div class="w-full grid grid-cols-12">
            <label class="form-label">Email</label>
            <input [(ngModel)] ="userRequest.email"  class="form-input" type="text" placeholder="email"/>
        </div>
        <div class="w-full grid grid-cols-12">
            <label class="form-label">Profession<span class="text-red-400">*</span></label>
            <input [(ngModel)] ="userRequest.profession"  class="form-input" type="text" placeholder="Profession"/>
        </div>
        <div *ngIf="!userRequest.id" class="w-full grid grid-cols-12">
            <label class="form-label">Password<span class="text-red-400">*</span></label>
            <input [formControl]="passwordControl" class="form-input" type="password" placeholder="password"/>
        </div>
        <div *ngIf="!userRequest.id && (showPassConfError || showPassMandatoryError || showPassLenghtError)" 
            class="w-full grid grid-cols-12">
            <p *ngIf="showPassConfError" class="text-sm text-red-500 w-full col-start-3 col-end-12">
                password didn't match
            </p>
            <p *ngIf="showPassMandatoryError" class="text-sm text-red-500 w-full col-start-3 col-end-12">
                password is Mandatory
            </p>
            <p *ngIf="showPassLenghtError" class="text-sm text-red-500 w-full col-start-3 col-end-12">
                Minimum password lenght is 4
            </p>
        </div> 
        <div *ngIf="!userRequest.id" class="w-full grid grid-cols-12">
            <label class="form-label">Confirm Password<span class="text-red-400">*</span></label>
            <input [formControl]="confirmPassword" class="form-input" type="password" placeholder="confirm password"/>
        </div>
        <!-- profile picture, file selector-->
        <div class="w-full grid grid-cols-12">
            <label class="form-label">
                <p>Profile Picture</p>
            </label>
            <div class="flex items-center col-span-12 md:col-span-10 ">
                <input 
                    class="p-2 rounded-lg text-lg outline-none cursor-pointer"
                    type="file" 
                    (change)="onFileSelected($event,'profilePic')"
                    accept="image/*"
                />
            </div>
        </div>
        <p *ngIf="showProfilePicErr" class="text-sm text-red-500">Profile Picture is mandatory</p>
        <!--id card image file selector-->
        <div class="w-full grid grid-cols-12">
            <label class="form-label">
                <p>Id Card Image</p>
            </label>
            <div class="flex items-center col-span-12 md:col-span-10 ">
                <input 
                    class="p-2 rounded-lg text-lg outline-none cursor-pointer"
                    type="file" 
                    (change)="onFileSelected($event,'idCardImg')"
                    accept="image/*"
                />
            </div>
        </div>
        <p *ngIf="showIdCardImgErr" class="text-sm text-red-500">Id Card Image is mandatory</p>
        <!--Profile Picture Displayer-->
        <section class="w-full flex justify-evenly gap-10">
            <div class="flex gap-4 justify-center w-28 h-28" *ngIf="selectedPictureString">
                <img class="rounded-3xl" [src]="selectedPictureString" alt="profile picture" />
            </div>
            <div class="flex gap-4 justify-center w-38 h-28" *ngIf="selectedIdCardImageString">
                <img  class="rounded-3xl" 
                  [src]="selectedIdCardImageString" alt="id card image" 
                />
            </div>
        </section>

        <div class="w-full flex  justify-evenly py-4">
            <button class="form-button bg-grn hover:bg-green-900" (click)="onSave()">
                <p class="text-xl">save</p>
            </button>
        </div>

        <div class="w-full flex  justify-center py-4 text-blue-700 underline cursor-pointer"
            (click)="onCancel()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#1d4ed8" d="M17.59 18L19 16.59L14.42 12L19 7.41L17.59 6l-6 6z"/><path fill="#1d4ed8" d="m11 18l1.41-1.41L7.83 12l4.58-4.59L11 6l-6 6z"/></svg>
            <p class="text-lg">Back to Login</p>
        </div>
    </section>
</main>

